<spinner *ngIf="httpResponse&&httpResponse.status===1"></spinner>
<div *ngIf="httpResponse&&httpResponse.status>=100">
    <span class="float-right mr-1 mt-1 cursor-pointer text-success"
          data-toggle="tooltip" data-placement="bottom" title="Status">
        {{httpResponse.status}}&nbsp;{{httpResponse.statusText}}
    </span>
    <ul id="response-tabs" class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="response-body-tab" data-toggle="tab" href="#response-body-div" role="tab"
               aria-controls="response-body-div" aria-selected="false">Body</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="response-headers-tab" data-toggle="tab" href="#response-headers-div" role="tab"
               aria-controls="response-headers-div" aria-selected="true">Headers</a>
        </li>
    </ul>
    <div id="response-tab-content" class="tab-content mt-1">
        <div class="tab-pane fade show active" id="response-body-div" role="tabpanel" aria-labelledby="body-tab">
            <div class="form-group">
                <json-editor [value]="httpResponse.body" read-only></json-editor>
            </div>
        </div>
        <div class="tab-pane fade" id="response-headers-div" role="tabpanel" aria-labelledby="headers-tab">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let httpHeader of httpResponse.headers">
                    <td>{{httpHeader.key}}</td>
                    <td>{{httpHeader.value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>