<spinner *ngIf="httpResponse&&httpResponse.status===1"></spinner>
<div *ngIf="httpResponse&&httpResponse.status>=100">
    <span class="float-right mr-1 mt-1 cursor-pointer text-success"
          data-placement="bottom" data-toggle="tooltip" title="Status">
        {{httpResponse.status}}&nbsp;{{httpResponse.statusText}}
    </span>
    <ul class="nav nav-tabs" id="response-tabs">
        <li class="nav-item">
            <a aria-controls="response-body-div" aria-selected="false" class="nav-link active" data-toggle="tab" href="#response-body-div"
               id="response-body-tab" role="tab">Body</a>
        </li>
        <li class="nav-item">
            <a aria-controls="response-headers-div" aria-selected="true" class="nav-link" data-toggle="tab" href="#response-headers-div"
               id="response-headers-tab" role="tab">Headers</a>
        </li>
    </ul>
    <div class="tab-content mt-1" id="response-tab-content">
        <div aria-labelledby="body-tab" class="tab-pane fade show active" id="response-body-div" role="tabpanel">
            <div class="form-group">
                <json-editor [value]="httpResponse.body" read-only></json-editor>
            </div>
        </div>
        <div aria-labelledby="headers-tab" class="tab-pane fade" id="response-headers-div" role="tabpanel">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let httpHeader of httpResponse.headers">
                    <td>{{httpHeader.key}}</td>
                    <td>{{httpHeader.value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>