<div>
    <button class="btn btn-light" data-target="#import-modal" data-toggle="modal" type="button">
        Import
    </button>
    <div aria-hidden="true" aria-labelledby="import-modal-label" class="modal fade" id="import-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="import-modal-label">Import</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">
                                &times;
                            </span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="import-textarea">Paste cURL command</label>
                        <textarea [(ngModel)]="curlCommand" class="form-control code" cols="30" id="import-textarea" name="curl"
                                  placeholder="curl [options...] <url>" rows="10"></textarea>
                    </div>
                    <button (click)="handleClick()" [disabled]="!curlCommand" class="btn btn-primary"
                            data-dismiss="modal">
                        Continue
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>