<div>
    <a (click)="generateCurl()" class="float-right mr-1 mt-1 cursor-pointer" data-target="#code-modal"
       data-toggle="modal">Code</a>
    <div aria-hidden="true" aria-labelledby="code-modal-label" class="modal fade" id="code-modal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="code-modal-label">Generate Code</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="code-textarea">Generated code for cURL</label>
                    <i (click)="copyCurl()" [class]="'fas fa-'+icon+' float-right cursor-pointer'"></i>
                    <textarea #code [value]="generatedCurl" class="form-control code" cols="30" id="code-textarea" name="code"
                              rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>